{% extends "base.html" %}
{% load staticfiles %}

<style>
{% block style %}
.navbar-static-top {
    margin-bottom: 0px !important;
}

.jumbotron {
    background-color:#CACACA;
    color: #333;
}

{% endblock %}
</style>

{% block jumbotron %}
    {% if not request.user.is_authenticated %}
        {% include 'jumbotron.html' %}
    {% endif %}
{% endblock %}

{% block content %} 
    {% if request.user.is_authenticated %}
                <h1>Welcome, {{ request.user }}!</h1>
                <!-- ADD YOUR CONTENT HERE --> 
    {% endif %}

    {% include 'footer.html' %}
{% endblock %}
